.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
form{
  max-width: 700px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-radios div {
  display: inline-block;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 18px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radios input[type=radio]#color-1 + label span {
  background-color: #e88344ec;
}
.custom-radios input[type=radio]#color-2 + label span {
  background-color: #e88344ec;
}
.custom-radios input[type=radio]#color-3 + label span {
  background-color: #f1c40f;
}
.custom-radios input[type=radio]#color-4 + label span {
  background-color: #e74c3c;
}
.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #327B8F;
}
.custom-checkbox.input-group-text{
  border-right: 0;
}
.checkbox_wrap .form-control{
  border-left: 0;
}
.custom-control-label::before,
.custom-control-label::after{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.multi_select .custom-control-label::before,
.multi_select .custom-control-label::after{
  left: 0;
  transform: translate(0);
  top: .25rem;
}